<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
import React from 'react';
import Navbar from './Navbar';
import NavbarMobile from './mobile/Navbar';
import {Bottom} from './Bottom';

export default class ContactMain extends React.Component{
    constructor(){
        super();
        this.state = {}
    }
    componentWillMount(){
        window.innerWidth > 560 ? this.setState({mobile: false}) : this.setState({mobile: true});
    }
    render(){
        return(
            <div className="body">
            {this.state.mobile ? <NavbarMobile /> : <Navbar />}
                <Bottom />
                <div className="container-fluid">
                    <div style={this.state.mobile ? {marginTop:"15px", marginBottom:"50px", height: "100vh"} : {marginTop:"150px", marginBottom:"50px", height: "100vh"}}>
                        <div className="row no-margin-row-team" style={{color:"white", fontSize:"1em"}}>
                            <div className="col-md-offset-1 col-md-10" style={{display: "flex", justifyContent: "center"}}>
                            <div className=" board-body" style={{ flexDirection:"column", alignItems: "center",  overflow: "scroll", overflowX: "hidden"}}>
                                <div className="row profile-events-firstrow">
                                    <div className="col-sm-offset-1 col-sm-10 profile-events-samplecard">
                                        <div className="row profile-events-firstrow" style={{textAlign: 'center', fontSize: '1.2em', display: 'flex', alignItems: 'center', justifyContent: 'center'}}>
                                            <div className="row">
                                                <div className="col-sm-4 workshop-main-div">
                                                    <div><img src="https://i.ytimg.com/vi/_pzuMgFacOA/maxresdefault.jpg" width={200} height={112.5}/></div>
                                                    <div style={{margin: '10px'}}>Ethical Hacking</div>
                                                    <div style={{display: 'flex'}}>
                                                        <a className="workshop-main-pay" href="https://www.townscript.com/e/workshop-011102" target="_blank"><div>Pay Now</div></a>
                                                        <a className="workshop-main-pay" href="/pdf/workshops/hack.pdf" target="_blank"><div>View Pdf</div></a>
                                                    </div>
                                                </div>
                                                <div className="col-sm-4 workshop-main-div">
                                                    <div><img src="https://iot.telefonica.com/sites/default/files/styles/main_image_for_this_content/public/iort_0.jpg?itok=-dmG7Eda" width={200} height={112.5}/></div>
                                                    <div style={{margin: '10px'}}>Robotics with IoT</div>
                                                    <div style={{display: 'flex'}}>
                                                        <a className="workshop-main-pay" href="https://www.townscript.com/e/workshop-011102" target="_blank"><div>Pay Now</div></a>
                                                        <a className="workshop-main-pay" href="/pdf/workshops/robotics" target="_blank"><div>View Pdf</div></a>
                                                    </div>
                                                </div>
                                                <div className="col-sm-4 workshop-main-div">
                                                    <div><img src="http://lh6.ggpht.com/_EhOQGW2GHBg/SmBYFgArM1I/AAAAAAAAHqk/0RTDzLvI9yw/18%20size%20RC%20buggy%5B2%5D.jpg?imgmax=800" width={200} height={112.5}/></div>
                                                    <div style={{margin: '10px'}}>Automobile & IC Engine</div>
                                                    <div style={{display: 'flex'}}>
                                                        <a className="workshop-main-pay" href="https://www.townscript.com/e/workshop-011102" target="_blank"><div>Pay Now</div></a>
                                                        <a className="workshop-main-pay" href="/pdf/workshops/automobile" target="_blank"><div>View Pdf</div></a>
                                                    </div>
                                                </div>
                                                <div className="col-sm-4 workshop-main-div">
                                                    <div><img src="https://4.imimg.com/data4/KA/PE/MY-19584630/android-apps-development-500x500.png" width={200} height={112.5}/></div>
                                                    <div style={{margin: '10px'}}>Android app development</div>
                                                    <a className="workshop-main-pay" href="https://www.townscript.com/e/workshop-011102" target="_blank"><div>Pay Now</div></a>
                                                </div>
                                                <div className="col-sm-4 workshop-main-div">
                                                    <div><img src="http://www.digitalvidya.com/wp-content/uploads/2016/05/The-Importance-of-Digital-Marketing-for-Small-Businesses.jpg" width={200} height={112.5}/></div>
                                                    <div style={{margin: '10px'}}>Digital marketing</div>
                                                    <a className="workshop-main-pay" href="https://www.townscript.com/e/workshop-011102" target="_blank"><div>Pay Now</div></a>
                                                </div>  
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </div>

        import React from 'react';
        import Navbar from './Navbar';
        import NavbarMobile from './mobile/Navbar';
        import {Bottom} from './Bottom';
        
        export default class ProfileMain extends React.Component{
            constructor(){
                super();
                this.state = {}
            }
            componentWillMount(){
                window.innerWidth > 560 ? this.setState({mobile: false}) : this.setState({mobile: true});
            }
            render(){
                return(
                    <div className="body">
                    {this.state.mobile ? <NavbarMobile /> : <Navbar />}
                        <Bottom />
                        <div className="container-fluid">
                            <div style={this.state.mobile ? {marginTop:"15px", marginBottom:"50px", height: "100vh"} : {marginTop:"150px", marginBottom:"50px", height: "100vh"}}>
                                <div className="row no-margin-row-team" style={{color:"white", fontSize:"1em"}}>
                                    <div className="col-md-offset-2 col-md-8" style={{display: "flex", justifyContent: "center"}}>
                                        <div className="contact-us-img" style={{marginBottom: "50px"}}>
                                            <p className="contact-us" style={{fontFamily: 'prashant'}}>
                                                Pronites
                                            </p>
                                        </div>
                                    </div>
                                </div> 
                                <center><img src="/img/main/updating.png" width='950' /></center>
                            </div>
                        </div>
                    </div>
                )
            }
        }
        )
    }
}